<a href="https://colab.research.google.com/github/Luisu15/8vo-intento-/blob/main/Python_3_com_1119.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#OPERADORES#
Son símbolos que se aplican a uno o varios operandos en una expresión o instrucción para obtener un resultado
##Aritméticos##

+  (suma)

- (resta)

* (multiplicación)

/ (división)

** (potencia)

// (división entera)

% (módulo)

In [ ]:
nro = 5
print(nro + 5)
print(nro - 5)
print(-nro)
print(nro * 2)
print(nro ** 2)
print(nro / 3)
print(nro // 3)
print(nro % 3)

# también se usa en strings
nombre = "Ana"
apellido = "5"
print(nombre + apellido)
print(nombre * 5)

10
0
-5
10
25
1.6666666666666667
1
2
35
33333

##De Asignación##

=

+= 

-=

*=

/=

**=

//=

%=

In [ ]:
nro = 10
nro += 22
print(nro)
nro -= 5
print(nro)
nro *= 2
print(nro)
nro **= 2
print(nro)
nro /=3
print(nro)
nro //= 3
print(nro)
nro %= 2
print(nro)

32
27
54
2916
972.0
324.0
0.0

##Relacionales##
Devuelven  un valor booleano

==

!=

>

<

>=

<=

In [ ]:
nro = 10
print(nro == 15)
print(nro == 10)
print(nro != 15)
print(nro != 10)
print(nro < 15)
print(nro > 15)
print(nro >= 15)
print(nro <= 15)

False
True
True
False
True
False
False
True

##Lógicos##
Devuelven un booleano

and 

or 

not

In [ ]:
n1=10
n2=29
exp_logica_1 = n1 == n2
exp_logica_2 = n1 != n2
print(exp_logica_1 or exp_logica_2) # con 1 solo True -> toda la expresión es True
print(exp_logica_1)
print(exp_logica_1 and exp_logica_2) # con 1 sólo False -> toda la expresión es False
print(not exp_logica_1)

True
False
False
True

##De pertenencia##
Permiten comprobar si un valor se encuentra en una secuencia (lista, tupla, diccionario, set, cadena de texto...)

in: True si el valor se encuentra en la secuencia

not in: True si el valor NO se encuentra en la secuencia

In [ ]:
lista = [2,4,5,6,4,3,3,45,6,775,100]
4 in lista
99 in lista
99 not in lista
4 not in lista

False

#SALIDA y ENTRADA de datos#
##Salida: print()##
Imprime en pantalla lo que le pasamos como parámetro (dato, variable, expresión, función)

In [ ]:
print("Hola")
print(45)
nombre = "Ana"
print(nombre)
print(5+3)
print(True == False)
print(type(nombre))
print(type(nombre), 5)

Hola
45
Ana
8
False
<class 'str'>
<class 'str'> 5

##Entrada input()##
Pide un dato al usuario.
Parámetro: mensaje al usuario para indicar el tipo de dato que debe ingresar

**IMPORTANTE**: Los datos ingresados por input() son del tipo str

In [ ]:
#nombre = input("Ingrese su nombre: ")
#print(nombre)
'''
n1=input("Ingrese un nro: ")
n2=input("Ingrese otro nro: ")
print(n1+n2)
n3=int(input("Ingrese un nro: "))
n4=int(input("Ingrese otro nro: "))
print(n3+n4)
'''
n5=float(input("Ingrese OOOOOTRO número: "))
print(n5)

# Si yo no estoy segur@ de qué tipo de nro me va a ingresar el usuario, me conviene hacer conversión a float
# - si ingresa un int cuando espero un float -> no pasa nada
# - si ingresa un float cuando espero un int -> se rompe

Ingrese OOOOOTRO número: 6
6.0